#slide_cover{
  position: absolute;
width: 100%;
top: 0;
white-space: nowrap;
font-size: 0;
padding-top: 7px;
overflow: hidden;
}

#slide_cover ul{
  position: relative;
display: inline-block;
vertical-align: top;
}


#service_tab_list{
  position: relative;
  left: 0px;
}

#page_right{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 313px;
  padding-right: 17px;
  padding-left: 0px;
}
#page_middle{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 293px;
  padding-left: 19px;
  padding-right: 18px;
}

#page_left{
    position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 19px;
  padding-right: 0;
  width: 313px;
}
.ulCon{
   position: relative;
  display: inline-block;
  vertical-align: top;
}

.service_lis{
  display: inline-block;
  background-color: #fafafa;
  vertical-align: top;
  width: 52px;
}

.tab_noti{
  font-size: 12px;
  color: #444;
  text-align: center;
  display: block;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #ebeef3;
  height: 18px;
  line-height: 19px;
  padding: 10px 0 8px;
  text-decoration: none !important;
  outline: none;
}

.tab_noti i{
  font-style: normal;
}

.tab_noti:hover{
  color: #000;
  background-color: #f3f4f3;
}

.service_middle{
  width: 58px !important;
}

.tab_add_setting i{
  background-image: url(https://ssl.pstatic.net/static/common/myarea/sp_png_icon_66ded248.png);
  background-size: 251px 232px;
  background-position: -226px -91px;
  width: 14px;
  height: 14px;
  display: inline-block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
  position: relative;
  top: 1px;
}



.slide_btn{
  display: block;
height: 36px;
background-color: #fafafa;
text-align: right;
z-index: 10;
border: 1px solid #ebeef3;
border-bottom-color: #dee3eb;
border-width: 1px 0;
}

.btn_next_tab{
  position: absolute;
right: 0;
top: 8px;
border-left: 1px solid #ebeef3;
background-color: #fafafa;
width: 18px;
height: 36px;
font-size: 0;
line-height: 0;
text-align: center;
cursor: pointer;
}

.btn_next_tab i{
  background-image: url(https://ssl.pstatic.net/static/common/myarea/sp_png_icon_66ded248.png);
background-size: 251px 232px;
background-position: -245px 0;
width: 6px;
height: 10px;
display: inline-block;
overflow: hidden;
margin: 12px -2px 0 0;
font-size: inherit;
line-height: inherit;
}

.btn_next_tab:hover{
  background-color: #f3f4f3;
}

.btn_next_tab:hover i{
  background-position: -245px -42px;
}


.btn_prev_tab{
  position: absolute;
top: 8px;
left: 0;
border-right: 1px solid #ebeef3;
background-color: #fafafa;
width: 18px;
height: 36px;
font-size: 0;
line-height: 0;
text-align: center;
}

.btn_prev_tab i{
  background-image: url(https://ssl.pstatic.net/static/common/myarea/sp_png_icon_66ded248.png);
  background-size: 251px 232px;
  background-position: -245px -14px;
  width: 6px;
  height: 10px;
  display: inline-block;
  overflow: hidden;
  margin: 12px 0 0 -2px;
  font-size: inherit;
  line-height: inherit;
}

.btn_prev_tab:hover{
  background-color: #f3f4f3;
}

.btn_prev_tab:hover i{
  background-position: -245px -28px;
}

.service_lis{
  position: relative;
}

.service_uls{
  transition: transform 300ms ease-in-out, visibility 300ms ease-in-out;
}
#page_right[data-state="first"]{
  visibility: visible;
}
#page_right[data-state="second"]{
  visibility: hidden;
  transform: translateX(-100%);
}
#page_right[data-state="third"]{
  visibility: hidden;
  transform: translateX(-100%);
}

#page_middle[data-state="first"]{
  transform: translateX(0);
  visibility: hidden;
}

#page_middle[data-state="second"]{
  transform: translateX(-100%);
  visibility: visible;
}
#page_middle[data-state="third"]{
  transform: translateX(-200%);
  visibility: visible;
}
#page_left[data-state="first"]{
  visibility: hidden;
  transform: translateX(-100%);
}
#page_left[data-state="second"]{
  visibility: hidden;
  transform: translateX(-100%);
}
#page_left[data-state="third"]{
  transform: translateX(-200%);
  visibility: visible;
}

