.defaultClassName{
  left: 0px;
},
.enterClassName{
  border: 1px solid purple;
  transform: translateX(-100%);
  transition: all 1000ms linear;
},
.leaveClassName{

}
/*
.pageMiddle_container{
  left: 0px;
}

.pageMiddle_container-enter{

}
.pageMiddle_container-enter-active{
    border: 3px solid red;
  left: 0px;
  transition: all 1000ms linear;
}
*/