@font-face {
  font-family: UnDotum;
  src: url('./fonts/UnDotum.ttf');
}
body,p,button{
  font-family: UnDotum, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

*{
  /*box-sizing: border-box;*/
}

ol, ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.blind{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

#wrap{
  position: relative;
  overflow: hidden;
  min-width: 1100px;
  background: #f2f4f7;
}